<div class="header">
<h1>Edit Book</h1>
</div>

<div class="right">
	<% if @book.errors.any? %>
	  <% @book.errors.full_messages.each do |message| %>
	    <li class="validation_errors"><%= message %></li>
	  <% end %>
	<% end %>

	<%= form_for @book do |f|%>
	<div class="textfield">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div class="textfield">
		<%= f.label :author %>
		<%= f.text_field :author %>
	</div>	
	<div class="textfield">	
		<%= f.label :no_of_pages %>
		<%= f.text_field :no_of_pages %>
	</div>	
	<div class="textfield">	
		<%= f.label :isbn %>
		<%= f.text_field :isbn %>
	</div>
	<div>
		<%= f.submit%>
	</div>
</div>
<%end%>