<div class="header">
<h1>Edit Book</h1>
</div>

<div class="right">
	<% if @book.errors.any? %>
	  <% @book.errors.full_messages.each do |message| %>
	    <li class="validation_errors"><%= message %></li>
	  <% end %>
	<% end %>

	<div class="form">
		<%= form_for @book do |f|%>
		<div class="field">
			<%= f.label :title %>
			<span class="textField"> <%= f.text_field :title %> </span>
		</div>
		<div class="field">
			<%= f.label :author %>
			<span class="textField"><%= f.text_field :author %> </span>
		</div>	
		<div class="field">	
			<%= f.label :no_of_pages %>
			<span class="textField">	<%= f.text_field :no_of_pages %> </span>
		</div>	
		<div class="field">	
			<%= f.label :isbn %>
			<span class="textField">	<%= f.text_field :isbn %></span>
		</div>
		<div>
			<%= f.submit%>
		</div>
	</div>
</div>
<%end%>