
	<h1 id="indexTitle"> Welcome to Book Reviewer </h1>
	<p id="tag"> Meet your next favourite book.... or not</p>
	
<div class="right">
	<div id= "bannerHolder">
		<img id="banner" src="/images/banner.jpeg"/>
	</div>
	


	<% if flash[:notice]%>
 		<%= flash[:notice] %> 
	<%end%>

	<div class=tableBackground>
		<table>
			<tr>
				<th> Book Title</th>
				<th> Book Author</th>
				<th> Number Of Pages</th>
				<th> ISBN</th>
			</tr>
			<tr>
				<% @books.each do |book|%>
			</tr>
			<tr>
				<td> <%= link_to book.title, book_url(book), :method => 'get' %> </td>
				<td> <%=book.author%> </td>
				<td> <%=book.no_of_pages%> </td>
				<td> <%= book.isbn %> </td>
			</tr>
			<% end%>
		</table>

<%= button_to "new",new_book_url, :method  => "get"%>
	</div>


</div>

	
