<!DOCTYPE html>
<html>

<head>
  <title>Ze Amazing Book Reviewer App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id= "main">
<%= yield %>
</div>

<div id="left">
	<% if current_user %>
		Welcome <%= current_user.name %>!
	<%= link_to "Sign Out", signout_path %>
	<% else %>
		<%= link_to "Sign in with Twitter", "/auth/twitter" %>
	<% end %>
	<p>  
	  <strong>Don&rsquo;t use twitter?</strong>  
	  <%= link_to "Create an account", new_identity_path %> or login below. 
	</p>
	
	<%= form_tag "/auth/identity/callback" do %>  
	  <div class="field">  
	    <%= label_tag :auth_key, "Email" %><br>  
	    <%= text_field_tag :auth_key %>  
	  </div>  
	  <div class="field">  
	    <%= label_tag :password %><br>  
	    <%= password_field_tag :password %>  
	  </div>  
	  <div class="actions"><%= submit_tag "Login" %></div>  
	<% end %>
	
	<div><%= link_to "Home", root_path %> </div>
</div>

</body>
</html>
